<div class="hero_home version_3">
    <div class="content">
        <h3>Bệnh Viện SunShine</h3>
        <a href="view-all-doctor.html" class="btn_1 medium">Xem tất cả các bác sĩ</a>
    </div>
</div>

<div class="container margin_120_95">
    <div class="main_title">
        <h3>Đặt Lịch Khám</h3>
        <p>An Toàn, Tận Tâm, Nhanh Chóng</p>
    </div>
    <div class="row add_bottom_30">
        <div class="col-lg-4">
            <div class="box_feat" id="icon_1">
                <span></span>
                <h3>Tìm bác sĩ</h3>
                <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box_feat" id="icon_2">
                <span></span>
                <h3>Xem thông tin</h3>
                <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box_feat" id="icon_3">
                <h3>Đặt lịch</h3>
                <p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
            </div>
        </div>
    </div>
    <p class="text-center"><a href="#" class="btn_1 medium">Tìm kiếm bác sĩ</a></p>

</div>

@Html.Action("GetHotDoctor", "Doctor")
@Html.Action("MenuDepartment", "Department")