<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find easily a doctor and book online an appointment">
    <meta name="author" content="Ansonika">
    <title>SunShine Hospital</title>

    <link rel="shortcut icon" href="~/Assets/Client/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Assets/Client/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Assets/Client/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Assets/Client/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Assets/Client/img/apple-touch-icon-144x144-precomposed.png">

    <link href="~/Assets/Client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Client/css/style.css" rel="stylesheet" />
    <link href="~/Assets/Client/css/menu.css" rel="stylesheet" />
    <link href="~/Assets/Client/css/vendors.css" rel="stylesheet" />
    <link href="~/Assets/Client/css/icon_fonts/css/all_icons_min.css" rel="stylesheet" />

    <link href="~/Assets/Plugins/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Assets/Plugins/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Assets/Client/css/custom.css" rel="stylesheet" />
    <link href="~/Assets/Client/css/date_picker.css" rel="stylesheet" />
</head>

<body>
    <div class="layer"></div>
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    @{ Html.RenderPartial("_Header");}
    <main>
        @RenderBody()
    </main>
    @{ Html.RenderPartial("_Footer");}
    <div id="toTop"></div>
    <script src="~/Assets/Client/js/jquery-2.2.4.min.js"></script>
    <script src="~/Assets/Client/js/common_scripts.min.js"></script>
    <script src="~/Assets/Client/js/functions.js"></script>
    <script src="~/Assets/Client/js/custom.js"></script>
    <script src="~/Assets/Plugins/jquery-ui/jquery-ui.js"></script>
    <script src="~/Assets/Plugins/toastr/toastr.js"></script>
    <script src="~/Assets/Plugins/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Assets/Plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/Assets/Plugins/bootbox/bootbox.js"></script>
    <script src="~/Assets/Plugins/mustache/mustache.min.js"></script>
    <script src="~/Assets/Client/js/notification/notification.js"></script>
    <script src="~/Assets/Client/js/datepicker/datepicker.js"></script>
    <script src="~/Assets/Client/js/bookingDoctor/booking.js"></script>
    <script src="~/Assets/Client/js/comment/comment.js"></script>
    <script src="~/Assets/Client/js/rate/rate.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var success = '@(TempData["message"])';
        if (success.length != 0) {
            notification.init();
            notification.displaySuccess(success);
        }
    });
    </script>
</body>
</html>