<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>FINDOCTOR - Admin dashboard</title>
    <link rel="shortcut icon" href="~/Assets/Admin/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/admin.css" rel="stylesheet" />
    <link href="~/Assets/Plugins/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Assets/Admin/css/custom.css" rel="stylesheet" />
</head>

<body class="fixed-nav sticky-footer" id="page-top">
    @{Html.RenderAction("Header", "Home");}
    @RenderBody()
    @{Html.RenderPartial("_Footer");}
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Assets/Admin/vendor/chart.js/Chart.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Assets/Admin/vendor/jquery.selectbox-0.2.js"></script>
    <script src="~/Assets/Admin/vendor/retina-replace.min.js"></script>
    <script src="~/Assets/Admin/vendor/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/Plugins/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/Assets/Plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/Assets/Plugins/toastr/toastr.js"></script>
    <script src="~/Assets/Plugins/mustache/mustache.min.js"></script>
    <script src="~/Assets/Admin/js/admin.js"></script>
    <script src="~/Assets/Admin/js/admin-charts.js"></script>
    <script src="~/Assets/Client/js/notification/notification.js"></script>
    <script src="~/Assets/Admin/js/add-medicine.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var success = '@(TempData["message"])';
            if (success.length != 0) {
                notification.init();
                notification.displaySuccess(success);
            }
            var error = '@(TempData["error"])';
            if (error.length != 0) {
                notification.init();
                notification.displayError(error);
            }
        });
    </script>
</body>
</html>
